.content{
    min-height: calc(88vh - 58px);
}
   app-header{
    position: fixed;
    width: 100%;
    z-index: 999;
   }
.main_content{
    margin: 2em 5rem 0 5rem;
}
.mainContent_body{
    margin-top: 2em;
    margin-bottom: 2rem;
}
.title{
    display:flex;
    justify-content: center; 
    align-items: center;
    margin-top: 5rem;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid;
    width: 70%;
    text-align: center;
  }

  thead th{
      color:#673ab7;
  }